extend ../layout/default

block body
  body
    h1 body
    ul
      for item in site_data.page_data
        li
          h2= item.title
          p= item.text
    div
      img(src=`stat/${stat_version}/img/img_0287.jpg`, alt="", class="photo")
